build
coverage
node_modules
dist
.vscode
.yarn
packages/queries/subgraphs
cache
artifacts
**/subgraph.yaml
contracts/src
contracts/deployments
spot-markets/contracts/deployments
**/tmp/
**/.next/
**/out/
**/.nyc_output
**/junit.xml
subgraphs/tests/.latest.json
.yarnrc.yml

# temporary
spot-markets/ui/prototype
